/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* Orders Page Styles */
/* Orders Title */
.orders-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

/* Order Card */
.order-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Container for Details and Items */
.order-details-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Order Details */
.order-details {
    width: 45%; /* Adjust width */
    padding-right: 20px;
    font-size: 14px;
}

.order-id,
.order-created,
.order-promotions,
.order-discount,
.order-total-price {
    margin: 5px 0;
}

/* Order Items */
.order-items {
    width: 45%; /* Adjust width */
}

.items-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.items-list {
    list-style-type: none;
    padding-left: 0;
}

.order-item {
    margin-bottom: 10px;
}
